.login {
  width: 340px;
  margin: 5rem auto;
  background: #2c2c2c;
  padding: 47px;
  color: #fff;
  border-radius: 17px;
  font-size: 1.3em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.h1 {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 1rem;
  animation: bounce2 0.8s;
}

.login input[type="text"],
.login input[type="password"] {
  display: block;
  width: 100%;
  border: none;
  outline: none;
  padding: 13px 18px;
  margin-top: 20px;
  font-size: 0.8em;
  border-radius: 100px;
  background: #3c3c3c;
  color: #fff;
}

.password-wrapper {
  position: relative;
}

.password-wrapper .eye-icon {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 1.2em;
  user-select: none;
}

.login input[type="submit"],
.btn {
  background-color:white ;
  color: black;
  padding: 16px !important;
  width: 100%;
  border: none;
  border-radius: 500px;
  font-weight: 600;
  margin-top: 40px;
  cursor: pointer;
  animation: bounce2 0.8s;
}

.btn:hover {
  background: #2c2c2c;
  transition: all 0.4s ease;
}

.error-message {
  color: red;
  margin-top: 1rem;
  text-align: center;
  font-size: 0.9rem;
}

@keyframes bounce2 {
  0% {
    opacity: 0;
  }
  70% {
    transform: translateY(-20px);
    opacity: 0;
  }
}
