<div class="login">
  <div class="h1">Login</div>

  <form (ngSubmit)="login()">
    <input
      placeholder="Usuário"
      type="text"
      id="usuario"
      name="usuario"
      [(ngModel)]="usuario"
      required
    />

    <div class="password-wrapper">
      <input
        [type]="mostrarSenha ? 'text' : 'password'"
        placeholder="Senha"
        id="senha"
        name="senha"
        [(ngModel)]="senha"
        required
      />

    </div>

    <!-- <button class="eye-icon" (click)="mostrarSenha = !mostrarSenha">
        Mostrar senha
    </button> -->

    <input type="submit" value="Entrar" class="btn" />
  </form>

  <p *ngIf="erro" class="error-message">{{ erro }}</p>
</div>
