body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: linear-gradient(120deg, #0f0f0f, #1e1e1e, #0f0f0f);
  background-size: 300% 300%;
  animation: gradientBG 10s ease infinite;
  display: flex; /* Mantém o flexbox para centralizar */
  align-items: center; /* Centraliza verticalmente */
  justify-content: center; /* Centraliza horizontalmente */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.login-card {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  padding: 3rem 2.5rem;
  border-radius: 20px;
  width: 360px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.05);
  animation: fadeIn 1.2s ease;
  color: #fff;
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}

.login-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
  letter-spacing: 1px;
}

.login-form {
  display: flex; 
  flex-direction: column; 
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: calc(100% - 40px); /* Ajusta a largura para o botão */
  padding: 12px 16px;
  margin-bottom: 1.5rem;
  border: none;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  font-size: 0.95rem;
  transition: background 0.3s ease;
}

.login-form input::placeholder {
  color: #ccc;
}

.login-form input:focus {
  background-color: rgba(255, 255, 255, 0.15);
  outline: none;
}

.password-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem; /* Adiciona margem inferior para separar do botão Entrar */
}

.eye-button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  outline: none;
}

.eye-icon {
  font-size: 1.2rem;
  color: #ccc;
}

.btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 30px;
  background: linear-gradient(145deg, #fff, #ccc);
  color: #000;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(255, 255, 255, 0.2);
}

.error-message {
  color: #ff6b6b;
  text-align: center;
  margin-top: 1rem;
  font-size: 0.85rem;
}

.eye-button{
  color: white;
  font-size: 1.5rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media (max-width: 420px) {
  .login-card {
    width: 80%;
    padding: 2rem;
  }

  .login-title {
    font-size: 1.6rem;
  }
}


