<div class="login-wrapper">
  <div class="login-card">
    <h1 class="login-title">Bem-vindo</h1>

    <form (ngSubmit)="login()" class="login-form">
      <input
        placeholder="Usuário"
        type="text"
        id="usuario"
        name="usuario"
        [(ngModel)]="usuario"
        required
      />

      <div class="password-wrapper">
        <input
          [type]="mostrarSenha ? 'text' : 'password'"
          placeholder="Senha"
          id="senha"
          name="senha"
          [(ngModel)]="senha"
          required
        />

      </div>

        <button type="button" class="eye-button" (click)="toggleMostrarSenha()">
          <i class="fa-regular fa-eye{{ mostrarSenha ? '' : '-slash' }}"></i>
        </button>

      <button type="submit" class="btn">Entrar</button>
    </form>

    <p *ngIf="erro" class="error-message">{{ erro }}</p>
  </div>
</div>